$paragraph-font: "Lato", sans-serif;
$black: #323232;
$grey: #848E97;
$btn-color: #8D81AC;
$violet: #8D81AC;
$purple-color: rgba(141, 129, 172, 1);
$white-color: rgba(255, 255, 255, 1);
$grey-color: rgba(132, 142, 151, 1);
$heading-font: 'Montserrat', sans-serif;
$button-font:'Montserrat', sans-serif;
$links-font: 'Montserrat', sans-serif;
$text-font: 'Montserrat', sans-serif;
$tablet: 481px;
$min-desktop: 993px;
$max-desktop: 1200px;
